<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/_head") %>
  <body>
    <%- include ("partials/_header") %>
    <div class="main card bg-light">
      <% if (alerts.length > 0) { %>
        <% for (let i = 0; i < alerts.length; i++) { %>
        <div id ="<%= i.toString() %>" class="alert alert-dismissible fade show alert-<%= alerts[i].type%>" role="alert">
          <%= alerts[i].msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
      <% } %>
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Login</h4>
        <form class="form" action="/login" method="POST">

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="email" class="form-control" placeholder="Enter email" type="email" required>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="password" class="form-control" placeholder="Create password" type="password" required>
          </div>

          <div class="form-group">
              <button type="submit" class="btn btn-outline-success btn-block"> Login</button>
          </div>
          <p class="text-center">Don't have an account? <a href="/register">Register</a> </p>
      </form>
      </article>
      </div>

      </div>
      <%- include ("partials/_footer") %>
  </body>
</html>
