<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/_head") %>
  <body>
    <%- include ("partials/_header") %>
    <!-- TODO: Add onsubmit function to check for password -->
    <!-- match that stops submission and displays an error -->
    <!-- message briefly. -->
    <div class="main d-flex card bg-light">
      <% if (alerts.length > 0) { %>
        <% for (let i = 0; i < alerts.length; i++) { %>
        <div id ="<%= i.toString() %>" class="my-2 alert alert-dismissible fade show alert-<%= alerts[i].type %>" role="alert">
          <%= alerts[i].msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <% } %> 
      <% } %>
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p class="text-center">Get started with your free account</p>
        <form class="form" action="/register" method="POST">
        <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
           </div>
              <input name="name" class="form-control" placeholder="Full name" type="text" required>
          </div> 
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
           </div>
              <input name="email" class="form-control" placeholder="Email address" type="email" required>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
              <input name="password" class="form-control" placeholder="Create password" type="password" required minlength="6">
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
              <input name="password2" class="form-control" placeholder="Repeat password" type="password" required minlength="6">
          </div>                                    
          <div class="form-group">
              <button type="submit" class="btn btn-outline-success btn-block"> Create Account  </button>
          </div>    
          <p class="text-center">Already have an account? <a href="/login">Log In</a> </p>                                                                 
      </form>
      </article>
      </div> <!-- card.// -->
      
      </div> 
      <%- include ("partials/_footer") %>
  </body>
</html>
