<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/_head") %>
  <body>
    <%- include ("partials/_header") %>
    <main style="margin: 1em;">
      <% if (user && user.id !== undefined) { %>
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% if (Object.keys(urls).length < 1) { %>
          <div class="alert alert-warning" role="alert">
            You don't have any short URLs! To create one,
            <a href="/urls/new"> Click Here </a>
          </div>
          <% } else { %> <% for (let url in urls) { %>
          <tr>
            <td><%= url %></td>
            <td><%= urls[url] %></td>
            <td>
              <a href="/urls/<%= url %>">
                <button type="button" class="btn btn-outline-warning">
                  Edit
                </button>
              </a>
            </td>
            <td>
              <form method="POST" action="/urls/<%= url %>?_method=DELETE">
                <button type="submit" class="btn btn-outline-danger">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
      <% } else { %>
      <div class="alert alert-warning" role="alert">
        To create and access your own short URLs, either
        <a href="/register"> Register </a> or
        <a href="/login">Login</a>
      </div>

      <% } %>
    </main>
    <%- include ("partials/_vendor") %>
  </body>
</html>
